<ul>
  {{#each burgers}}
  <li>
    <p>
      {{this.id}}. {{this.burger}}
    </p>
    <button data-planid="{{this.id}}" class="devour">Devour</button>
  </li>
  {{/each}}
</ul>

<h2>Add to Menu</h2>
<form id="createplan" class="button-size">
  <textarea type="text" name="addBurger"></textarea>
  <button type="submit">Save Plan!</button>
</form>